//--------------------
// MIXIN
//--------------------
@mixin font($factor:1){
    font-size: $factor*$defaultFontSize;
    line-height: ceil($factor*$defaultFontSize/$defaultLineHeight) * $defaultLineHeight;
    margin-top:$defaultLineHeight;
    margin-bottom:0;
}