@import "fonts";
@import "variables";
@import "mixins";

body{
 padding:0;
 margin:0;
}

//--------------------
// READING MODE
//--------------------

//
.page{

    @import "../components/meyer-reset/stylesheets/_meyer-reset";

    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-size: $defaultFontSize;
    line-height: $defaultLineHeight;

    min-width:22em;
    max-width:37em;
    padding: $offset $defaultLineHeight ($offset + $defaultLineHeight) $defaultLineHeight;
    margin:0 auto;

    @import "verticalRhythm";    

// todo: make resize specific
    &.resizing{
        -webkit-user-select: none;
        user-select: none;
        cursor:row-resize !important;
    }


    color: $color;
    background:$background;


    // debug: uncomment for lines
//background-image:linear-gradient(darken($background,10) .1em, transparent .1em);
//background-size: 100% $defaultLineHeight;

      .button{

        pointer-events:auto;
        cursor:pointer;

        z-index:999;
        padding:.5em 2em;
        margin:.5em;
        color:$highlight;
        background:$background;

        font-family: FontAwesome;
        text-decoration:none;

        &:hover{
          background:darken($background,5);
        }

        -webkit-user-select: none;
      }

      .remove{

        position:absolute;

        top:-3.5em;
        right:0;
      }

      .arrow-up{
        position:absolute;
        bottom:-3.5em;
        right:0em;
      }

      .arrow-down{
        position:absolute;
        bottom:-6.25em;
        right:0em;
      }

      .step-up{
        bottom:-4.25em;
        right:7em;
        font-size:.75em;
        line-height:.75em;
        
      }

      .step-down{
        bottom:-6.25em;
        right:7em;
        font-size:.75em;
        line-height:.75em;

      }


    .viewport{
        box-sizing: border-box;
        position:fixed;
        top:0;
        left:0;
        bottom:0;
        width:100%;
        border-top:3px solid darken($background,10);
        border-bottom:3px solid darken($background,10);
        outline: 9999px solid fade-out($background,.1);

        background:transparent;

        overflow:visible;

        pointer-events:none;

        &.dragging{
           border:2px dotted darken($background,90);
           background:fade-out(darken($background,50), .8);
        }



    }

    .viewport-resizer{
        position:absolute;
        margin:0 .5em;
        height:$defaultLineHeight;
        
        pointer-events:auto;
        cursor:row-resize !important;
        text-align:center;
        color:$highlight;
        font-weight:bold;

         &:hover, &.resizing{
          color:#2a6496;
          background:darken($background,5);
        }
    }

    .viewport-resizer-top{
        top:-2.5em;
        padding:.5em 2em 0 2em;
    }

    .viewport-resizer-bottom{
        bottom:-2.5em;
        padding:0 2em .5em 2em;

    }

}


.candidate-node-highlight{
    position: relative;
    background: fade-out(darken($background,50), .8);
    overflow:hidden;
    cursor:crosshair;
    outline:1px dashed darken($background,50);

    div:hover, p:hover, img:hover, table:hover, blockquote:hover,
    ul:hover, ol:hover, dl:hover, h1:hover, h2:hover, h3:hover, h4:hover,
    h5:hover, h6:hover, code:hover, main:hover, header:hover, footer:hover,
    section:hover, article:hover, aside:hover, form:hover  {
        outline:1px dashed darken($background,50);
        background: fade-out(lighten($background,50), .5);
    }
}


@import "utilities";