@charset "UTF-8";
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css);
/* line 4, ../../app/styles/_raw.scss */
main {
  float: left;
  width: 75%;
}

/* line 8, ../../app/styles/_raw.scss */
aside {
  width: 25%;
  float: left;
}

/* line 13, ../../app/styles/_raw.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 18, ../../app/styles/main.scss */
.page {
  /* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */
  /* HTML5 display-role reset for older browsers */
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  min-width: 22em;
  max-width: 37em;
  padding: 160px 32px 192px 32px;
  margin: 0 auto;
  color: #444444;
  background: #fefefe;
}
/* line 18, ../../app/styles/_reset.scss */
.page div, .page span, .page applet, .page object, .page iframe,
.page h1, .page h2, .page h3, .page h4, .page h5, .page h6, .page p, .page blockquote, .page pre,
.page a, .page abbr, .page acronym, .page address, .page big, .page cite, .page code,
.page del, .page dfn, .page em, .page img, .page ins, .page kbd, .page q, .page s, .page samp,
.page small, .page strike, .page strong, .page sub, .page sup, .page tt, .page var,
.page b, .page u, .page i, .page center,
.page dl, .page dt, .page dd, .page ol, .page ul, .page li,
.page fieldset, .page form, .page label, .page legend,
.page table, .page caption, .page tbody, .page tfoot, .page thead, .page tr, .page th, .page td,
.page article, .page aside, .page canvas, .page details, .page embed,
.page figure, .page figcaption, .page footer, .page header, .page hgroup,
.page menu, .page nav, .page output, .page ruby, .page section, .page summary,
.page time, .page mark, .page audio, .page video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* line 28, ../../app/styles/_reset.scss */
.page article, .page aside, .page details, .page figcaption, .page figure,
.page footer, .page header, .page hgroup, .page menu, .page nav, .page section {
  display: block;
}
/* line 31, ../../app/styles/_reset.scss */
.page ol, .page ul {
  list-style: none;
}
/* line 34, ../../app/styles/_reset.scss */
.page blockquote, .page q {
  quotes: none;
}
/* line 38, ../../app/styles/_reset.scss */
.page blockquote:before, .page blockquote:after,
.page q:before, .page q:after {
  content: '';
  content: none;
}
/* line 42, ../../app/styles/_reset.scss */
.page table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 6, ../../app/styles/_verticalRhythm.scss */
.page h1 {
  font-size: 45.7px;
  line-height: 64px;
  margin-top: 32px;
  margin-bottom: 0;
  font-weight: 600;
}
/* line 13, ../../app/styles/_verticalRhythm.scss */
.page h2 {
  font-size: 34.3px;
  line-height: 64px;
  margin-top: 32px;
  margin-bottom: 0;
  font-weight: 600;
}
/* line 18, ../../app/styles/_verticalRhythm.scss */
.page h3 {
  font-size: 22.9px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 0;
  font-weight: 600;
}
/* line 23, ../../app/styles/_verticalRhythm.scss */
.page h4 {
  font-size: 20px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 0;
  font-weight: 600;
}
/* line 28, ../../app/styles/_verticalRhythm.scss */
.page p {
  font-size: 20px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 0;
}
/* line 32, ../../app/styles/_verticalRhythm.scss */
.page p + p {
  text-indent: 32px;
}
/* line 35, ../../app/styles/_verticalRhythm.scss */
.page a {
  color: #428bca;
}
/* line 37, ../../app/styles/_verticalRhythm.scss */
.page a:hover {
  color: #2a6496;
}
/* line 40, ../../app/styles/_verticalRhythm.scss */
.page a:active {
  color: #193c5a;
}
/* line 43, ../../app/styles/_verticalRhythm.scss */
.page a:visited {
  color: #7eb0db;
}
/* line 47, ../../app/styles/_verticalRhythm.scss */
.page img {
  margin: 0 auto 32px auto;
  display: block;
}
/* line 52, ../../app/styles/_verticalRhythm.scss */
.page ol, .page ul {
  font-size: 20px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 0;
  list-style: disc;
  padding-left: 20px;
}
/* line 58, ../../app/styles/_verticalRhythm.scss */
.page blockquote {
  position: relative;
  font-size: 20px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 0;
  text-indent: 32px;
  padding-left: 32px;
  margin-right: 32px;
  border-left: 3px solid #444444;
  font-style: italic;
}
/* line 66, ../../app/styles/_verticalRhythm.scss */
.page blockquote:before {
  font-size: 80px;
  line-height: 96px;
  margin-top: 32px;
  margin-bottom: 0;
  position: absolute;
  top: -48px;
  left: -16px;
  content: "“";
}
/* line 75, ../../app/styles/_verticalRhythm.scss */
.page dl {
  font-size: 20px;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 0;
}
/* line 78, ../../app/styles/_verticalRhythm.scss */
.page dt {
  font-weight: bold;
}
/* line 81, ../../app/styles/_verticalRhythm.scss */
.page dd {
  padding-left: 20px;
}
/* line 85, ../../app/styles/_verticalRhythm.scss */
.page table {
  max-width: 100%;
  background-color: #fefefe;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 32px;
}
/* line 96, ../../app/styles/_verticalRhythm.scss */
.page table {
  width: 100%;
  margin-bottom: 32px;
}
/* line 101, ../../app/styles/_verticalRhythm.scss */
.page table th,
.page table td {
  box-sizing: border-box;
  line-height: 32px;
  text-align: left;
  vertical-align: top;
  padding-left: 32px;
}
/* line 108, ../../app/styles/_verticalRhythm.scss */
.page table th {
  font-weight: bold;
}
/* line 112, ../../app/styles/_verticalRhythm.scss */
.page table thead th {
  vertical-align: bottom;
}
/* line 117, ../../app/styles/_verticalRhythm.scss */
.page table .table {
  background-color: #fefefe;
}
/* line 123, ../../app/styles/_verticalRhythm.scss */
.page table tbody > tr:nth-child(odd) > td,
.page table tbody > tr:nth-child(odd) > th {
  background-color: #e5e5e5;
}
/* line 130, ../../app/styles/_verticalRhythm.scss */
.page table tbody tr:hover > td,
.page table tbody tr:hover > th {
  background-color: #cbcbcb;
}
/* line 44, ../../app/styles/main.scss */
.page .button {
  pointer-events: auto;
  cursor: pointer;
  z-index: 999;
  padding: 5px;
  margin: 2px;
  color: #bada55;
  background: #fefefe;
  font-family: FontAwesome;
  text-decoration: none;
  -webkit-user-select: none;
}
/* line 58, ../../app/styles/main.scss */
.page .button:hover {
  background: #f1f1f1;
}
/* line 65, ../../app/styles/main.scss */
.page .remove {
  position: absolute;
  top: -2.5em;
  right: 0;
}
/* line 73, ../../app/styles/main.scss */
.page .arrow-up {
  position: absolute;
  bottom: -2.5em;
  right: 1.5em;
}
/* line 79, ../../app/styles/main.scss */
.page .arrow-down {
  position: absolute;
  bottom: -5em;
  right: 1.5em;
}
/* line 85, ../../app/styles/main.scss */
.page .step-up {
  bottom: -3.25em;
  right: 4.5em;
  font-size: .75em;
  line-height: .75em;
}
/* line 93, ../../app/styles/main.scss */
.page .step-down {
  bottom: -5em;
  right: 4.5em;
  font-size: .75em;
  line-height: .75em;
}
/* line 101, ../../app/styles/main.scss */
.page .fast-backward {
  position: absolute;
  -webkit-transform: rotate(90deg);
  bottom: -2em;
  right: .5em;
  font-size: .75em;
  line-height: .75em;
}
/* line 111, ../../app/styles/main.scss */
.page .fast-forward {
  position: absolute;
  -webkit-transform: rotate(90deg);
  bottom: -6.5em;
  right: .5em;
  font-size: .75em;
  line-height: .75em;
}
/* line 121, ../../app/styles/main.scss */
.page .viewport {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
  outline: 9999px solid rgba(254, 254, 254, 0.9);
  background: transparent;
  overflow: visible;
  pointer-events: none;
}
/* line 138, ../../app/styles/main.scss */
.page .viewport.dragging {
  border: 2px dotted #191919;
  background: rgba(127, 127, 127, 0.2);
}
/* line 145, ../../app/styles/main.scss */
.page .viewport-resizer {
  position: absolute;
  width: 100%;
  left: 0;
  height: 32px;
  pointer-events: auto;
  cursor: row-resize !important;
  text-align: center;
  color: #bada55;
  font-weight: bold;
}
/* line 157, ../../app/styles/main.scss */
.page .viewport-resizer-top {
  top: -1.85em;
}
/* line 161, ../../app/styles/main.scss */
.page .viewport-resizer-bottom {
  bottom: -1.5em;
}

/* line 169, ../../app/styles/main.scss */
.candidate-node-highlight {
  position: relative;
  background: rgba(127, 127, 127, 0.2);
  overflow: hidden;
  cursor: crosshair;
  outline: 1px dashed #7f7f7f;
}

/* line 8, ../../app/styles/_utilities.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 13, ../../app/styles/_utilities.scss */
.cf:after {
  clear: both;
}
